<p id="notice"><%= notice %></p>

<p>
  <b>Data:</b>
  <%= @bushidomessage.data %>
</p>


<%= link_to 'Edit', edit_bushidomessage_path(@bushidomessage) %> |
<%= link_to 'Back', bushidomessages_path %>
